app-button {
    margin-left : 5px;
}

.text-red {color: red;}
.text-green {color: green}
.text-blue {color: blue}

app-no-encapsulation, app-emulated-encapsulation, app-shadow-dom-encapsulation { display: block; max-width: 500px; padding: 5px; margin: 5px 0; }
app-no-encapsulation { border: solid 2px red; }
app-emulated-encapsulation { border: solid 2px green; }
app-shadow-dom-encapsulation { border: solid 2px blue; }
/* .no-encapsulation {
    color: green;
    
}

div.no-encapsulation {
    border: green solid 1px;
} */